.flip-container {
  perspective: 1000px;
  display: inline-block;
}

.flip-container.flip .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 140px;
  height: 220px;
  border-radius: 6px;
  margin-right: 6px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background-color: #c00fee;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: #008ecc;
}
