.card-container {
  display: inline-block;
}

.winner {
  display: block;
  font-size: larger;
  font-weight: bolder;
  color: green;
}

.again {
  border-radius: 6px;
  border-color: black;
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  display: inline;
  cursor: pointer;
}
